.left {
  text-align: left;
}

/* ! Navbar */
.nav-bg {
  background-color: #2c3e50;
}
/* ! Navbar */
/*?  Portoflio  ?*/
.dark-color {
  color: #2c3e50;
}
.inner {
  width: 100%;
  height: 300px;
  position: relative;
  cursor: pointer;
}
.inner img {
  width: 100%;
  overflow: hidden;
}
.layout {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #1abc9ce6;
  z-index: 2;
  opacity: 0;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner:hover .layout {
  opacity: 1;
}
.layout .plus {
  font-size: 70px;
}
/*?  Portoflio  ?*/
/* * Form  */
.form-group {
  position: relative;
}
.form-group input {
  border-color: transparent transparent #eee transparent;
}
.form-group input:focus {
  box-shadow: none;
  outline: none;
  border-color: transparent transparent #eee transparent;
}
.form-group:has(input) > label {
  color: #1abc9ce6;
  top: -25px;
  left: 10px;
}
.form-group label {
  position: absolute;
  z-index: -1;
  transition: 0.5s;
  top: 10px;
  left: 10px;
}

/* * Form  */
.my-btn {
  background-color: #1abc9ce6;
  border: none;
  border-radius: 3px;
  padding: 5px 7px;
  color: white;
}

.floating-label {
  color: #1abc9c;
  opacity: 1;
  transform: translateY(20px);
  transition: opacity 0.25s ease, transform 0.25s ease;
}

input:focus + .floating-label {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.25s ease, transform 0.25s ease;
}
/* * Form  */
